body{
    background-image:url('./resurse/peakpx.jpg');
    display: flex;
    margin:0;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    flex-direction: column;
}
.prezentare{
    display: flex;
   background-color: rgba(255, 250, 250, 0.665);
    margin:0.5cm;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: 75%;
    padding: 0.3cm;
    
}
p{
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
color:#3F497F;
}
#poza img{
    height: 7cm;
    width: auto;
    padding-right: 0.3cm;
 
}
#poza{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;}
.harta img{

height: 10cm;
    width: auto;
}
.harta{
    display: flex;
    justify-content: center;
}
h1{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 900;
}
a {
   
    
   
    
    text-align: start;
  
   padding: 0.2cm;
    font-size: 20px;
    height: 0.1cm;
}